# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# CSV dataset files (optional: if too large)
dataset.csv
*.csv

# VS Code settings
.vscode/

# Logs and temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Python egg / distribution files
*.egg
*.egg-info/
dist/
build/
.eggs/

# PyInstaller
*.manifest
*.spec

# Optional: PyCharm
.idea/

Screenshots
